############################################################ {{{1 ###########
#  Copyright © 2021 … 2021 Martin Krischik
############################################################ }}}1 ###########

# force correct line ending on well known files.
#
*.applescript			text eol=lf
*.bat				text eol=crlf
*.btm				text eol=crlf
*.cmd				text eol=crlf
*.command			text eol=lf
*.M65				text eol=lf
*.md				text eol=lf
*.pl				text eol=lf
*.sh				text eol=lf
*.terminal			text eol=lf
*.vim				text eol=lf

# files without extension:
#
.editorconfig			text eol=lf
.git*				text eol=lf
.lfsconfig			text eol=lf
Makefile			text eol=lf

# These files are large files and should be handled by lfs
#
*.7z				-text
*.developerprofile		-text
*.docx				-text
*.dotx				-text
*.iso				-text
*.mov				-text
*.mp4				-text
*.odg				-text
*.pdf				-text
*.png				-text
*.pot				-text
*.potx				-text
*.ppt				-text
*.pptx				-text
*.vsd				-text
*.wmv				-text
*.zip				-text

# vim: set nowrap tabstop=8 shiftwidth=4 softtabstop=4 noexpandtab : 
# vim: set textwidth=0 filetype=conf foldmethod=marker nospell : 
